In [13]:
import os
import pandas as pd
from datetime import datetime, time

In [14]:
#Run this cell to get ONE parquet file of ALL cleaned data stored in the folder all_cleaned_data.

def get_cleaned_df():
    folder_path = "cleaned_data/"
    
    os.makedirs("all_cleaned_data", exist_ok=True)
    
    # Get all parquet files in the folder
    parquet_files = [f for f in os.listdir(folder_path) if f.endswith('.parquet')]
    
    # Load and concatenate them into a single DataFrame
    dataframes = [pd.read_parquet(os.path.join(folder_path, file)) for file in parquet_files]
    
    # Combine all dataframes
    df = pd.concat(dataframes, ignore_index=True) if dataframes else pd.DataFrame()
    
    df.to_parquet("all_cleaned_data/all_cleaned_data.parquet", index=False)

get_cleaned_df()

In [15]:
#return all cleaned data file as a dataframe
df = pd.read_parquet("all_cleaned_data/all_cleaned_data.parquet")
df.head()

,VendorID,pickup_datetime,dropoff_datetime,trip_duration,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,total_amount,tip_amount,tolls_amount,congestion_surcharge
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,19.800000,1.0,1.72,1.0,186,79,2,17.7,22.70,0.00,0.0,2.5
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,6.600000,1.0,1.80,1.0,140,236,1,10.0,18.75,3.75,0.0,2.5
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,17.916667,1.0,4.70,1.0,236,79,1,23.3,31.30,3.00,0.0,2.5
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,8.300000,1.0,1.40,1.0,79,211,1,10.0,17.00,2.00,0.0,2.5
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,6.100000,1.0,0.80,1.0,211,148,1,7.9,16.10,3.20,0.0,2.5

In [16]:
def DOPU_given_timerange(df, zone, start, end, isDropoff=True):
    """
    input: 
        df: dataframe to extract number of dropoffs from
        zone: integer zone id
        start: time of start (pandas time object)
        end: time of end (pandas time object)
        isDropoff: bool. If true, 
        
    returns:
        integer- average number of dropoffs/pickups made in the zone during the time range
    """
    
    
    #given a zone id, a start time, and end time, find the average number of dropoffs/pickups made during this time
    df_zone = df[df["DOLocationID"] == zone].copy() if isDropoff else df[df["PULocationID"] == zone].copy()
    
    #remove date from datetime object
    df_zone["time"] = df_zone["dropoff_datetime"].dt.time if isDropoff else df_zone["pickup_datetime"].dt.time
    
    #filter by times within the given time range
    df_filtered = df_zone[(df_zone["time"] >= start) & (df_zone["time"] <= end)]
    
    #sum all dropoff/pickups
    dropoffs_per_day = df_filtered.groupby(df_filtered["dropoff_datetime"].dt.date).size()
    
    #return mean dropoffs/pickups
    return int(dropoffs_per_day.mean()) if not dropoffs_per_day.empty else 0

In [17]:
def DOPU_given_one_timerange(df, zone, time, timerange, isDropoff=True):
    """
    input: 
        df: dataframe to extract number of dropoffs from
        zone: integer zone id
        time: datetime.time object- the time to check
        timerange: pd.Deltatime object- the timerange to check within
        isDropoff: bool. If true, returns num of dropoffs. If false, returns num of pickups
        
    returns:
        integer- average number of dropoffs/pickups made in the zone during the time range
    """
    
    #given a zone id, a start time, and end time, find the average number of dropoffs/pickups made during this time
    df_zone = df[df["DOLocationID"] == zone].copy() if isDropoff else df[df["PULocationID"] == zone].copy()
    
    ref_date = datetime.combine(datetime.today(), time)
    #remove date from datetime object
    df_zone["time"] = df_zone["dropoff_datetime"].dt.time if isDropoff else df_zone["pickup_datetime"].dt.time
    
    start = (ref_date - timerange).time()
        
    end = (ref_date + timerange).time()
    
    #filter by times within the given time range

    df_filtered = df_zone[(df_zone["time"] >= start) & (df_zone["time"] <= end)] if (start < end) else df_zone[(df_zone["time"] >= start) | (df_zone["time"] <= end)]
    
    #sum all dropoff/pickups
    dropoffs_per_day = df_filtered.groupby(df_filtered["dropoff_datetime"].dt.date).size()
    
    #return mean dropoffs/pickups
    return int(dropoffs_per_day.mean()) if not dropoffs_per_day.empty else 0

In [30]:
import numpy as np

tim = time(9, 0, 0)
timerange = pd.Timedelta(hours=4.0)
n = DOPU_given_one_timerange(df, 10, tim, timerange, False)
print(n)


start = time(5, 0, 0)
end = time(13, 0, 0)
m = DOPU_given_timerange(df, 10, start, end, False)
print(m)
max = 0
for LocationID in np.sort(df["DOLocationID"].unique()):
    print("ID:", LocationID)
    count = DOPU_given_one_timerange(df, LocationID, tim, timerange, False)
    print("Count:", count)
    if max < count:
        max = count
print(max)

6
6
ID: 1
Count: 1
ID: 2
Count: 1
ID: 3
Count: 1
ID: 4
Count: 8
ID: 5
Count: 0
ID: 6
Count: 1
ID: 7
Count: 12
ID: 8
Count: 1
ID: 9
Count: 1
ID: 10
Count: 6
ID: 11
Count: 1
ID: 12
Count: 8
ID: 13
Count: 153
ID: 14
Count: 1
ID: 15
Count: 1
ID: 16
Count: 1
ID: 17
Count: 1
ID: 18
Count: 1
ID: 19
Count: 1
ID: 20
Count: 1
ID: 21
Count: 1
ID: 22
Count: 1
ID: 23
Count: 1
ID: 24
Count: 92
ID: 25
Count: 5
ID: 26
Count: 1
ID: 27
Count: 1
ID: 28
Count: 2
ID: 29
Count: 1
ID: 30
Count: 1
ID: 31
Count: 1
ID: 32
Count: 1
ID: 33
Count: 9
ID: 34
Count: 1
ID: 35
Count: 1
ID: 36
Count: 1
ID: 37
Count: 1
ID: 38
Count: 1
ID: 39
Count: 1
ID: 40
Count: 4
ID: 41
Count: 71
ID: 42
Count: 20
ID: 43
Count: 448
ID: 44
Count: 1
ID: 45
Count: 22
ID: 46
Count: 1
ID: 47
Count: 1
ID: 48
Count: 633
ID: 49
Count: 1
ID: 50
Count: 180
ID: 51
Count: 1
ID: 52
Count: 7
ID: 53
Count: 1
ID: 54
Count: 1
ID: 55
Count: 1
ID: 56
Count: 1
ID: 57
Count: 1
ID: 58
Count: 1
ID: 59
Count: 1
ID: 60
Count: 1
ID: 61
Count: 1
ID: 62
Count: 1
ID: 63
Count: 1
ID: 64
Count: 1
ID: 65
Count: 14
ID: 66
Count: 4
ID: 67
Count: 1
ID: 68
Count: 631
ID: 69
Count: 1
ID: 70
Count: 105
ID: 71
Count: 1
ID: 72
Count: 1
ID: 73
Count: 1
ID: 74
Count: 63
ID: 75
Count: 202
ID: 76
Count: 1
ID: 77
Count: 1
ID: 78
Count: 1
ID: 79
Count: 317
ID: 80
Count: 2
ID: 81
Count: 1
ID: 82
Count: 3
ID: 83
Count: 2
ID: 84
Count: 1
ID: 85
Count: 1
ID: 86
Count: 1
ID: 87
Count: 104
ID: 88
Count: 45
ID: 89
Count: 1
ID: 90
Count: 380
ID: 91
Count: 1
ID: 92
Count: 1
ID: 93
Count: 5
ID: 94
Count: 1
ID: 95
Count: 2
ID: 96
Count: 1
ID: 97
Count: 4
ID: 98
Count: 1
ID: 99
Count: 1
ID: 100
Count: 501
ID: 101
Count: 1
ID: 102
Count: 1
ID: 105
Count: 1
ID: 106
Count: 1
ID: 107
Count: 549
ID: 108
Count: 1
ID: 109
Count: 1
ID: 110
Count: 0
ID: 111
Count: 1
ID: 112
Count: 1
ID: 113
Count: 304
ID: 114
Count: 131
ID: 115
Count: 1
ID: 116
Count: 21
ID: 117
Count: 1
ID: 118
Count: 1
ID: 119
Count: 1
ID: 120
Count: 1
ID: 121
Count: 1
ID: 122
Count: 1
ID: 123
Count: 1
ID: 124
Count: 1
ID: 125
Count: 112
ID: 126
Count: 1
ID: 127
Count: 1
ID: 128
Count: 1
ID: 129
Count: 5
ID: 130
Count: 2
ID: 131
Count: 1
ID: 132
Count: 1026
ID: 133
Count: 1
ID: 134
Count: 2
ID: 135
Count: 1
ID: 136
Count: 1
ID: 137
Count: 280
ID: 138
Count: 879
ID: 139
Count: 1
ID: 140
Count: 723
ID: 141
Count: 752
ID: 142
Count: 828
ID: 143
Count: 385
ID: 144
Count: 98
ID: 145
Count: 9
ID: 146
Count: 13
ID: 147
Count: 1
ID: 148
Count: 91
ID: 149
Count: 1
ID: 150
Count: 1
ID: 151
Count: 295
ID: 152
Count: 17
ID: 153
Count: 1
ID: 154
Count: 1
ID: 155
Count: 1
ID: 156
Count: 1
ID: 157
Count: 3
ID: 158
Count: 135
ID: 159
Count: 1
ID: 160
Count: 1
ID: 161
Count: 1079
ID: 162
Count: 1042
ID: 163
Count: 700
ID: 164
Count: 522
ID: 165
Count: 1
ID: 166
Count: 135
ID: 167
Count: 1
ID: 168
Count: 2
ID: 169
Count: 1
ID: 170
Count: 854
ID: 171
Count: 1
ID: 172
Count: 1
ID: 173
Count: 1
ID: 174
Count: 1
ID: 175
Count: 1
ID: 176
Count: 1
ID: 177
Count: 1
ID: 178
Count: 1
ID: 179
Count: 4
ID: 180
Count: 1
ID: 181
Count: 2
ID: 182
Count: 1
ID: 183
Count: 1
ID: 184
Count: 1
ID: 185
Count: 1
ID: 186
Count: 1191
ID: 187
Count: 0
ID: 188
Count: 1
ID: 189
Count: 1
ID: 190
Count: 1
ID: 191
Count: 1
ID: 192
Count: 1
ID: 193
Count: 4
ID: 194
Count: 1
ID: 195
Count: 24
ID: 196
Count: 1
ID: 197
Count: 2
ID: 198
Count: 1
ID: 200
Count: 1
ID: 201
Count: 1
ID: 202
Count: 1
ID: 203
Count: 1
ID: 204
Count: 0
ID: 205
Count: 1
ID: 206
Count: 1
ID: 207
Count: 1
ID: 208
Count: 1
ID: 209
Count: 27
ID: 210
Count: 1
ID: 211
Count: 108
ID: 212
Count: 1
ID: 213
Count: 1
ID: 214
Count: 1
ID: 215
Count: 2
ID: 216
Count: 4
ID: 217
Count: 1
ID: 218
Count: 1
ID: 219
Count: 2
ID: 220
Count: 1
ID: 221
Count: 1
ID: 222
Count: 1
ID: 223
Count: 5
ID: 224
Count: 36
ID: 225
Count: 1
ID: 226
Count: 22
ID: 227
Count: 1
ID: 228
Count: 1
ID: 229
Count: 595
ID: 230
Count: 838
ID: 231
Count: 285
ID: 232
Count: 12
ID: 233
Count: 374
ID: 234
Count: 548
ID: 235
Count: 1
ID: 236
Count: 1598
ID: 237
Count: 1451
ID: 238
Count: 736
ID: 239
Count: 895
ID: 240
Count: 1
ID: 241
Count: 1
ID: 242
Count: 1
ID: 243
Count: 2
ID: 244
Count: 15
ID: 245
Count: 1
ID: 246
Count: 299
ID: 247
Count: 2
ID: 248
Count: 1
ID: 249
Count: 334
ID: 250
Count: 1
ID: 251
Count: 1
ID: 252
Count: 1
ID: 253
Count: 1
ID: 254
Count: 1
ID: 255
Count: 1
ID: 256
Count: 2
ID: 257
Count: 1
ID: 258
Count: 1
ID: 259
Count: 1
ID: 260
Count: 6
ID: 261
Count: 115
ID: 262
Count: 613
ID: 263
Count: 621
ID: 264
Count: 84
ID: 265
Count: 3
1598