In [1]:
import pandas as pd


df = pd.read_parquet("./all_cleaned_data/all_cleaned_data.parquet")
df.head()

,VendorID,PickupDatetime,DropoffDatetime,TripDuration,PassengerCount,TripDistance,PULocationID,DOLocationID,PaymentType,FareAmount,ExtraCharges,MTATax,TipAmount,TollsAmount,ImprovementSurcharge,TotalAmount,CongestionSurcharge,AirportFee
0,2,2024-01-01 00:46:55,2024-01-01 00:58:25,11.500000,1.0,1.98,236,239,1.0,12.8,1.0,0.5,3.61,0.0,1.0,21.66,2.75,0.0
1,2,2024-01-01 00:31:42,2024-01-01 00:52:34,20.866667,5.0,6.54,65,170,1.0,30.3,1.0,0.5,7.11,0.0,1.0,42.66,2.75,0.0
2,2,2024-01-01 00:30:21,2024-01-01 00:49:23,19.033333,1.0,3.08,74,262,1.0,19.8,1.0,0.5,3.00,0.0,1.0,28.05,2.75,0.0
3,1,2024-01-01 00:30:20,2024-01-01 00:42:12,11.866667,1.0,2.40,74,116,2.0,14.2,1.0,1.5,0.00,0.0,1.0,16.70,0.00,0.0
4,2,2024-01-01 00:32:38,2024-01-01 00:43:37,10.983333,1.0,5.14,74,243,1.0,22.6,1.0,0.5,6.28,0.0,1.0,31.38,0.00,0.0

In [2]:
# Need a function to filter data into what is essential for training
def necessary_fields(df : pd.DataFrame) -> pd.DataFrame: 
    return df.drop(columns=['VendorID',
                            'PassengerCount',
                            'PaymentType', 
                            'ExtraCharges', 
                            'MTATax', 
                            'TollsAmount', 
                            'ImprovementSurcharge', 
                            'TotalAmount', 
                            'CongestionSurcharge', 
                            'AirportFee']) # Keep Trip Distance and Duration as these may be helpful for the simulation.


df_fil = necessary_fields(df)
df_fil.head()

,PickupDatetime,DropoffDatetime,TripDuration,TripDistance,PULocationID,DOLocationID,FareAmount,TipAmount
0,2024-01-01 00:46:55,2024-01-01 00:58:25,11.500000,1.98,236,239,12.8,3.61
1,2024-01-01 00:31:42,2024-01-01 00:52:34,20.866667,6.54,65,170,30.3,7.11
2,2024-01-01 00:30:21,2024-01-01 00:49:23,19.033333,3.08,74,262,19.8,3.00
3,2024-01-01 00:30:20,2024-01-01 00:42:12,11.866667,2.40,74,116,14.2,0.00
4,2024-01-01 00:32:38,2024-01-01 00:43:37,10.983333,5.14,74,243,22.6,6.28

In [3]:
def merge_fare_and_tip(df: pd.DataFrame) -> pd.DataFrame:
    df_merged = df
    df_merged['TotalRevenue'] = df['FareAmount'] + df['TipAmount']
    return df_merged.drop(columns=['FareAmount', 'TipAmount'])

df_merged = merge_fare_and_tip(df_fil)
df_merged.head()

,PickupDatetime,DropoffDatetime,TripDuration,TripDistance,PULocationID,DOLocationID,TotalRevenue
0,2024-01-01 00:46:55,2024-01-01 00:58:25,11.500000,1.98,236,239,16.41
1,2024-01-01 00:31:42,2024-01-01 00:52:34,20.866667,6.54,65,170,37.41
2,2024-01-01 00:30:21,2024-01-01 00:49:23,19.033333,3.08,74,262,22.80
3,2024-01-01 00:30:20,2024-01-01 00:42:12,11.866667,2.40,74,116,14.20
4,2024-01-01 00:32:38,2024-01-01 00:43:37,10.983333,5.14,74,243,28.88

In [ ]:
from zone_coords import get_coords_as_dict
import math

lookup_coords = get_coords_as_dict()
print(lookup_coords)

def centroid_distances(PUZoneID, DOZoneID): # This is really just for use as a distance measure in the mean time until Oliver sorts out the actual shortest paths between zones. 
    lookup_coords = get_coords_as_dict()
    PUx = lookup_coords[PUZoneID]['x']
    PUy = lookup_coords[PUZoneID]['y']
    DOx = lookup_coords[DOZoneID]['x']
    DOy = lookup_coords[DOZoneID]['y']
    return math.sqrt((DOx - PUx)**2 + (DOy - PUy)**2)

print(centroid_distances(1,2))

{1: {'x': -74.17400027276298, 'y': 40.69183120640149}, 2: {'x': -73.83129854302214, 'y': 40.61674529165988}, 3: {'x': -73.84742223236718, 'y': 40.86447368477543}, 4: {'x': -73.97696825691767, 'y': 40.72375214158478}, 5: {'x': -74.18848410184931, 'y': 40.552659286945655}, 6: {'x': -74.07177055895137, 'y': 40.60032414603462}, 7: {'x': -73.91969431946073, 'y': 40.76149256216376}, 8: {'x': -73.9230861575075, 'y': 40.77855865375072}, 9: {'x': -73.7879488777789, 'y': 40.75103502557237}, 10: {'x': -73.79098635986959, 'y': 40.67895331011525}, 11: {'x': -74.00748815801178, 'y': 40.60427284003079}, 12: {'x': -74.01556351255896, 'y': 40.702945834984696}, 13: {'x': -74.01607915192938, 'y': 40.71203815707455}, 14: {'x': -74.0298923741879, 'y': 40.62483492360817}, 15: {'x': -73.78597227877711, 'y': 40.78333304726102}, 16: {'x': -73.77342181890141, 'y': 40.76273837544241}, 17: {'x': -73.9499050350751, 'y': 40.69150749488063}, 18: {'x': -73.89018328872034, 'y': 40.86768245607538}, 19: {'x': -73.72665537528707, 'y': 40.73548677976333}, 20: {'x': -73.8858674810697, 'y': 40.85777967544162}, 21: {'x': -73.98353709672227, 'y': 40.601429439835165}, 22: {'x': -73.99525857986234, 'y': 40.61221825780565}, 23: {'x': -74.17088688155235, 'y': 40.60644770102743}, 24: {'x': -73.96547951516968, 'y': 40.80197049389964}, 25: {'x': -73.98611382213659, 'y': 40.68563374132064}, 26: {'x': -73.98866123078287, 'y': 40.630949655245495}, 27: {'x': -73.90690832237574, 'y': 40.55913327946748}, 28: {'x': -73.80872901637521, 'y': 40.7115963579451}, 29: {'x': -73.9612167686685, 'y': 40.58092197193379}, 30: {'x': -73.82192695679416, 'y': 40.60368744213562}, 31: {'x': -73.87547595053036, 'y': 40.85774668091587}, 32: {'x': -73.86490099876715, 'y': 40.86400220602359}, 33: {'x': -73.99525011996624, 'y': 40.69579822121125}, 34: {'x': -73.97118869233036, 'y': 40.70085573851709}, 35: {'x': -73.91025783136129, 'y': 40.66400311792594}, 36: {'x': -73.91771053131575, 'y': 40.70052219951916}, 37: {'x': -73.92224002165713, 'y': 40.6949943184421}, 38: {'x': -73.7355542705883, 'y': 40.69434146723175}, 39: {'x': -73.899734956694, 'y': 40.6380371391171}, 40: {'x': -73.99595619089148, 'y': 40.67919901409709}, 41: {'x': -73.9512920024351, 'y': 40.8043339497946}, 42: {'x': -73.9407716675627, 'y': 40.81825786111926}, 43: {'x': -73.96555356545912, 'y': 40.78247809974788}, 44: {'x': -74.23353354937639, 'y': 40.52549458176375}, 45: {'x': -73.99815149899052, 'y': 40.71245931177951}, 46: {'x': -73.78198714613227, 'y': 40.84908594313968}, 47: {'x': -73.90031590586491, 'y': 40.84274917609798}, 48: {'x': -73.98984464313301, 'y': 40.76225275531936}, 49: {'x': -73.96236353818358, 'y': 40.68796745714742}, 50: {'x': -73.99513522075519, 'y': 40.7662377250419}, 51: {'x': -73.82826367307189, 'y': 40.87397305492025}, 52: {'x': -73.99672403175191, 'y': 40.68665124165606}, 53: {'x': -73.8428134954316, 'y': 40.780912355791045}, 54: {'x': -74.00291127745285, 'y': 40.68720074733731}, 55: {'x': -73.98794343407205, 'y': 40.576960753637856}, 56: {'x': -73.85358156034266, 'y': 40.75181936699948}, 58: {'x': -73.82039319252783, 'y': 40.84145210068253}, 59: {'x': -73.8949858849397, 'y': 40.83855028852789}, 60: {'x': -73.88590003419165, 'y': 40.833990477273886}, 61: {'x': -73.93928705867964, 'y': 40.67446941826648}, 62: {'x': -73.94878853931499, 'y': 40.66654040578563}, 63: {'x': -73.87817261050252, 'y': 40.68383976195104}, 64: {'x': -73.7393371499286, 'y': 40.76061560532149}, 65: {'x': -73.986086004984, 'y': 40.69533752946116}, 66: {'x': -73.98570161582296, 'y': 40.70225893882254}, 67: {'x': -74.0138014874401, 'y': 40.61961946783514}, 68: {'x': -73.99991742024714, 'y': 40.74842755506573}, 69: {'x': -73.91502929553265, 'y': 40.83141669708519}, 70: {'x': -73.86839559842024, 'y': 40.76335220113315}, 71: {'x': -73.9379662706169, 'y': 40.64428817438918}, 72: {'x': -73.9222509740049, 'y': 40.6523648040774}, 73: {'x': -73.80729418212229, 'y': 40.75410888689295}, 74: {'x': -73.93734560812489, 'y': 40.80116948058649}, 75: {'x': -73.94575026755159, 'y': 40.79001075149541}, 76: {'x': -73.87682061127181, 'y': 40.66093519655055}, 77: {'x': -73.89536411750326, 'y': 40.66655893903527}, 78: {'x': -73.88552181587426, 'y': 40.84496041014609}, 79: {'x': -73.98593745682462, 'y': 40.72762019590953}, 80: {'x': -73.93679314491885, 'y': 40.71536988214352}, 81: {'x': -73.83664334408296, 'y': 40.88093541148937}, 82: {'x': -73.87711833280913, 'y': 40.73949564677818}, 83: {'x': -73.89217338112863, 'y': 40.73832381382599}, 84: {'x': -74.18767433468837, 'y': 40.52868644656625}, 85: {'x': -73.9516231826101, 'y': 40.64611634689506}, 86: {'x': -73.75524369679577, 'y': 40.60243279341666}, 87: {'x': -74.00749598562427, 'y': 40.70680845166583}, 88: {'x': -74.01151502922319, 'y': 40.70335790323615}, 89: {'x': -73.96096824906378, 'y': 40.63790012347377}, 90: {'x': -73.99697141558369, 'y': 40.7422786290123}, 91: {'x': -73.93009701219941, 'y': 40.6262727633364}, 92: {'x': -73.82885869884258, 'y': 40.76110218983439}, 93: {'x': -73.84086726234156, 'y': 40.74067587216071}, 94: {'x': -73.89953593442145, 'y': 40.85815519618402}, 95: {'x': -73.84766941187517, 'y': 40.72143227502133}, 96: {'x': -73.87155842518158, 'y': 40.69700061310115}, 97: {'x': -73.97488208618897, 'y': 40.69078679421092}, 98: {'x': -73.77725346665984, 'y': 40.734462628200944}, 99: {'x': -74.18641851305901, 'y': 40.57677363548704}, 100: {'x': -73.9887865991153, 'y': 40.75351275872571}, 101: {'x': -73.71102598691238, 'y': 40.74599381838421}, 102: {'x': -73.87573576709774, 'y': 40.703545610762895}, 103: {'x': -74.01907272636844, 'y': 40.688784238613}, 106: {'x': -73.9906472736312, 'y': 40.67351279686076}, 107: {'x': -73.98405213268914, 'y': 40.73682405761896}, 108: {'x': -73.98143115020045, 'y': 40.58840346529031}, 109: {'x': -74.15088980760541, 'y': 40.55186299807709}, 110: {'x': -74.12834244237273, 'y': 40.54578031659564}, 111: {'x': -73.99023450433016, 'y': 40.652137270419054}, 112: {'x': -73.94954030482211, 'y': 40.72950628420882}, 113: {'x': -73.99430477051165, 'y': 40.73257907302701}, 114: {'x': -73.99738026020042, 'y': 40.72834039137229}, 115: {'x': -74.08783880974957, 'y': 40.61797137588928}, 116: {'x': -73.94852173020878, 'y': 40.82701265492536}, 117: {'x': -73.78962208250061, 'y': 40.59405875281404}, 118: {'x': -74.13297872511704, 'y': 40.586554626626274}, 119: {'x': -73.92615723620794, 'y': 40.83782699169888}, 120: {'x': -73.93018219742835, 'y': 40.846667748302735}, 121: {'x': -73.80244428186224, 'y': 40.72833332297309}, 122: {'x': -73.76113699730598, 'y': 40.71063928425106}, 123: {'x': -73.96433367133902, 'y': 40.59995429251393}, 124: {'x': -73.8449185843854, 'y': 40.65824796123047}, 125: {'x': -74.0074858180095, 'y': 40.72629041028122}, 126: {'x': -73.88553752149436, 'y': 40.81207445859211}, 127: {'x': -73.91930823586206, 'y': 40.86607500072785}, 128: {'x': -73.92436981716106, 'y': 40.87237880957364}, 129: {'x': -73.88531724061077, 'y': 40.757312063039166}, 130: {'x': -73.79397965822713, 'y': 40.704368777455066}, 131: {'x': -73.77610076139935, 'y': 40.72065523874957}, 132: {'x': -73.78653298335013, 'y': 40.64698489239527}, 133: {'x': -73.97619898951329, 'y': 40.640590070674506}, 134: {'x': -73.82871246597533, 'y': 40.70805099798806}, 135: {'x': -73.82119590387472, 'y': 40.7283776832573}, 136: {'x': -73.90591118270504, 'y': 40.86526419152491}, 137: {'x': -73.97649472376762, 'y': 40.74043897859643}, 138: {'x': -73.87362864289081, 'y': 40.77437570593239}, 139: {'x': -73.74423435166717, 'y': 40.677097797909}, 140: {'x': -73.95473878380501, 'y': 40.76548408788982}, 141: {'x': -73.95963474149167, 'y': 40.76694821638321}, 142: {'x': -73.9815322063918, 'y': 40.77363329302705}, 143: {'x': -73.98764554944394, 'y': 40.775965228761}, 144: {'x': -73.99691854183827, 'y': 40.72088889344528}, 145: {'x': -73.94889145447934, 'y': 40.74537943399852}, 146: {'x': -73.9348288892914, 'y': 40.75424252050031}, 147: {'x': -73.89895638182651, 'y': 40.819675979304925}, 148: {'x': -73.9908962618473, 'y': 40.718938359380246}, 149: {'x': -73.94813559494116, 'y': 40.604913595563794}, 150: {'x': -73.94362872180574, 'y': 40.5804732742621}, 151: {'x': -73.96816833309244, 'y': 40.79796199310005}, 152: {'x': -73.95378223705626, 'y': 40.81797514762945}, 153: {'x': -73.9103786641058, 'y': 40.87596780221243}, 154: {'x': -73.90259658693098, 'y': 40.593570836585}, 155: {'x': -73.91527709386855, 'y': 40.614590989275726}, 156: {'x': -74.16723534170745, 'y': 40.63130769285299}, 157: {'x': -73.90232968131367, 'y': 40.72399507493358}, 158: {'x': -74.0089841047853, 'y': 40.73503540069665}, 159: {'x': -73.91284939799161, 'y': 40.81825974768984}, 160: {'x': -73.88005140814954, 'y': 40.71833677001369}, 161: {'x': -73.97769793122403, 'y': 40.75802804352627}, 162: {'x': -73.97235594352033, 'y': 40.75668765218885}, 163: {'x': -73.97756868222719, 'y': 40.76442140578679}, 164: {'x': -73.9851563946768, 'y': 40.748574629356725}, 165: {'x': -73.95682460583805, 'y': 40.620924048746254}, 166: {'x': -73.96176359682933, 'y': 40.8094569611253}, 167: {'x': -73.90235177500064, 'y': 40.82751255686399}, 168: {'x': -73.91682193806467, 'y': 40.80734716766531}, 169: {'x': -73.90512221938546, 'y': 40.849058377391245}, 170: {'x': -73.97849159965224, 'y': 40.74774579364388}, 171: {'x': -73.80954582099437, 'y': 40.76835162630845}, 172: {'x': -74.10501900721479, 'y': 40.5717688929326}, 173: {'x': -73.86303754486681, 'y': 40.7525792391496}, 174: {'x': -73.87902225226021, 'y': 40.87713760287658}, 175: {'x': -73.75462173612384, 'y': 40.74267210348269}, 176: {'x': -74.12258402976956, 'y': 40.56199423458405}, 177: {'x': -73.91363213611349, 'y': 40.67664410104018}, 178: {'x': -73.97032580128302, 'y': 40.61731493715169}, 179: {'x': -73.92833318686118, 'y': 40.77157024358336}, 180: {'x': -73.84704317269397, 'y': 40.67559499070666}, 181: {'x': -73.98141374048758, 'y': 40.67037432591725}, 182: {'x': -73.85798694048579, 'y': 40.83774866435354}, 183: {'x': -73.83158179959663, 'y': 40.8491726171826}, 184: {'x': -73.8078572663126, 'y': 40.86827620354769}, 185: {'x': -73.85439380221173, 'y': 40.85440471268922}, 186: {'x': -73.9924375369761, 'y': 40.74849718140501}, 187: {'x': -74.14078750231758, 'y': 40.62816687457196}, 188: {'x': -73.94744164500476, 'y': 40.65874445085671}, 189: {'x': -73.96758681222951, 'y': 40.67763538934729}, 190: {'x': -73.96891374270623, 'y': 40.66162215835684}, 191: {'x': -73.74153176997537, 'y': 40.7154545153052}, 192: {'x': -73.81522935845767, 'y': 40.74375148543156}, 193: {'x': -73.94199705818419, 'y': 40.76031363502696}, 194: {'x': -73.92459630024567, 'y': 40.79100078171126}, 195: {'x': -74.00917849113318, 'y': 40.67554886228091}, 196: {'x': -73.86333855806276, 'y': 40.726155639579225}, 197: {'x': -73.83092407449995, 'y': 40.69454235438128}, 198: {'x': -73.9017092644472, 'y': 40.70652679441957}, 199: {'x': -73.88265824700588, 'y': 40.79113290307751}, 200: {'x': -73.9069871077142, 'y': 40.89952906437647}, 201: {'x': -73.84345281477822, 'y': 40.57798249377507}, 202: {'x': -73.94995171169585, 'y': 40.76189974995509}, 203: {'x': -73.73947255987298, 'y': 40.65785341801943}, 204: {'x': -74.20782608356562, 'y': 40.54033400529608}, 205: {'x': -73.76314612543833, 'y': 40.69120144680616}, 206: {'x': -74.10231250352726, 'y': 40.638972205166446}, 207: {'x': -73.89935256434536, 'y': 40.76398558883053}, 208: {'x': -73.82354011891934, 'y': 40.8233185838775}, 209: {'x': -74.00366456329894, 'y': 40.70907274279308}, 210: {'x': -73.94050716694062, 'y': 40.59202346436426}, 211: {'x': -74.00153756565634, 'y': 40.72388811004175}, 212: {'x': -73.86967965711672, 'y': 40.8279021485874}, 213: {'x': -73.85813498781427, 'y': 40.81785855770813}, 214: {'x': -74.08551235826928, 'y': 40.58678663305194}, 215: {'x': -73.79096393223053, 'y': 40.69442755408878}, 216: {'x': -73.81945963682767, 'y': 40.67615403721384}, 217: {'x': -73.95859684507164, 'y': 40.70391644046576}, 218: {'x': -73.77303565610495, 'y': 40.67208970676736}, 219: {'x': -73.76450578558233, 'y': 40.66218488071144}, 220: {'x': -73.9106646756443, 'y': 40.88240311320918}, 221: {'x': -74.07370444530252, 'y': 40.618769278732046}, 222: {'x': -73.88241292571804, 'y': 40.647527034323566}, 223: {'x': -73.90540773409828, 'y': 40.77742692053275}, 224: {'x': -73.97659767323339, 'y': 40.73182063601679}, 225: {'x': -73.93188826440705, 'y': 40.68816818695494}, 226: {'x': -73.9246730658505, 'y': 40.73769895644439}, 227: {'x': -74.00465205914728, 'y': 40.64188631576522}, 228: {'x': -74.01127116962897, 'y': 40.65235464953846}, 229: {'x': -73.96514579918423, 'y': 40.75672894163307}, 230: {'x': -73.98419648907567, 'y': 40.75981761719184}, 231: {'x': -74.00787970866403, 'y': 40.717772736265175}, 232: {'x': -73.98302455833492, 'y': 40.71473250693941}, 233: {'x': -73.97044256869235, 'y': 40.74991407790215}, 234: {'x': -73.99045782354735, 'y': 40.74033744175702}, 235: {'x': -73.9159754246645, 'y': 40.852521149263545}, 236: {'x': -73.9570116983574, 'y': 40.78043643718996}, 237: {'x': -73.9656345353807, 'y': 40.76861518381156}, 238: {'x': -73.97304890061594, 'y': 40.791704934427074}, 239: {'x': -73.97863194845081, 'y': 40.78396143031376}, 240: {'x': -73.88197807761944, 'y': 40.89459912750701}, 241: {'x': -73.89562001785487, 'y': 40.876512375445536}, 242: {'x': -73.8506705770834, 'y': 40.846782895809845}, 243: {'x': -73.93283148761283, 'y': 40.85710828331433}, 244: {'x': -73.9413991057364, 'y': 40.84170877111966}, 245: {'x': -74.1028601101664, 'y': 40.63004939183068}, 246: {'x': -74.00401512528674, 'y': 40.75330906598342}, 247: {'x': -73.92440873264249, 'y': 40.82898823048455}, 248: {'x': -73.87228927297005, 'y': 40.83416531682764}, 249: {'x': -74.00287495910834, 'y': 40.73457600733173}, 250: {'x': -73.84864070062376, 'y': 40.832101659632144}, 251: {'x': -74.12534779829352, 'y': 40.61688000771182}, 252: {'x': -73.81565681271016, 'y': 40.78819301672901}, 253: {'x': -73.84124393899137, 'y': 40.7606307521726}, 254: {'x': -73.85894823975751, 'y': 40.88215708304704}, 255: {'x': -73.95741813122191, 'y': 40.71880391812991}, 256: {'x': -73.95990462730529, 'y': 40.7108799333774}, 257: {'x': -73.97798241330017, 'y': 40.653611871336615}, 258: {'x': -73.85576675985425, 'y': 40.6887213569813}, 259: {'x': -73.8522154537012, 'y': 40.89793202529472}, 260: {'x': -73.90630644197886, 'y': 40.74423471780149}, 261: {'x': -74.01302277174901, 'y': 40.70913894067186}, 262: {'x': -73.94651035601467, 'y': 40.77593240314995}, 263: {'x': -73.951009874818, 'y': 40.77876585543437}}
0.3508309709246697

c:\Users\bendh\OneDrive\Documents\GitHub\adsproject\zone_coords.py:37: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  return df.T.to_dict()

In [ ]:
from datetime import datetime, timedelta
from dateutil import parser

def round_time_to_hour(tim):
    tim = parser.parse(tim)
    if tim.minute >= 30:
        return tim.replace(minute = 0, second = 0, microsecond=0) + timedelta(hours=1)
    else:
        return tim.replace(minute = 0, second = 0, microsecond=0)
    
def round_time_to_int(tim):
    tim = parser.parse(tim)
    if tim.minute >= 30:
        return int(tim.hour) + 1
    else:
        return int(tim.hour)

df_rounded = df_merged
df_rounded['PickupDatetimeRounded'] = df_merged['PickupDatetime'].map(lambda x: round_time_to_int(x))
df_rounded['DropoffDatetimeRounded'] = df_merged['DropoffDatetime'].map(lambda x: round_time_to_int(x))
df_rounded.head()

TypeError: Parser must be a string or character stream, not Series